{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}


{% block body %}

    <div class="container-fluid">
        <div style="text-align:center ; margin-top:120px ; color:white">
            <h1>ABOUT OUR WEBSITE</h1>
        </div>
        <div class="container" style="margin:100px; color:white ; text-align: center;">
            <p> This website is all about helping students who are in colleges . What made me to create
                this website is that when I was in my college I faced many problems during exam day's about searching 
                important  notes , youTube videos , previous years question , special notes of college teachers . Some 
                of these things I was getting but it was very hard for me to search different websites for different contents
                which are related to the same subject.
            </p>
            <p>
                This reason was enough for me to create this website . In this website I collected all the important 
                information related to a subject at a single page . Like one one can get previous year papers, 
                related youTube videos, special notes of teachers, standard notes .
            </p>
        </div>
    
    </div>

    


{% endblock body %}