<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	<title>Hello, world!</title>
</head>

<body>

		<header class="p-3 bg-success text-white" style="width:1400px">
			<div class="container-fluid">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li><a href="#" class="nav-link px-2 text-white">Home</a></li>
						<li><a href="#" class="nav-link px-2 text-white">About Us</a></li>
						<li><a href="#" class="nav-link px-2 text-white">Services</a></li>
						<li><a href="#" class="nav-link px-2 text-white">Contact us</a></li>
					</ul>

					<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
						<input type="search" class="form-control form-control-dark" placeholder="Search..."
							aria-label="Search">
					</form>

					<div class="text-end">
						<button type="button" class="btn btn-outline-light me-2">Login</button>
						<button type="button" class="btn btn-warning">Sign-up</button>
					</div>
				</div>
			</div>
		</header>

			<div class="card bg-dark text-white" style="width:1400px">
				<img src="https://source.unsplash.com/1600x900/?fastfood,food" class="card-img"style="height: 450px; opacity: 0.3;" alt="...">
				<div class="card-img-overlay" style="text-align: center; margin-top: 120px;z-index:1;">
					<h1 class="card-title" style="margin-bottom:50px;">Card title</h1>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
						additional content. This content is a little bit longer.</p>
					<p class="card-text">Last updated 3 mins ago</p>
				</div>
			</div>
	
		<div class="container-fluid">
			<div class="container"
				style="color: palevioletred;margin: 30px; text-align: center; font-size:65px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
				Menu
			</div>
			<div class="container-fluid" style="display:inline-flex; margin-left: 5px;">
				<div class="card" style="width: 15rem; margin:7px;">
					<img src="/static/icecream.jpg" style="height: 200px;" class="card-img-top" alt="...">
					<div class="card-body" style="text-align: center; text-decoration: none;">
						<h5><a style="text-decoration: none;" href="#"> Icecream Parlout</a></h5>
					</div>
				</div>
				<div class="card" style="width: 15rem; margin:7px;">
					<img src="/static/icecream.jpg" style="height: 200px;" class="card-img-top" alt="...">
					<div class="card-body" style="text-align: center; text-decoration: none;">
						<h5><a style="text-decoration: none;" href="#"> Icecream Parlout</a></h5>
					</div>
				</div>
				<div class="card" style="width: 15rem; margin:7px;">
					<img src="/static/icecream.jpg" style="height: 200px;" class="card-img-top" alt="...">
					<div class="card-body" style="text-align: center; text-decoration: none;">
						<h5><a style="text-decoration: none;" href="#"> Icecream Parlout</a></h5>
					</div>
				</div>
				<div class="card" style="width: 15rem; margin:7px;">
					<img src="/static/icecream.jpg" style="height: 200px;" class="card-img-top" alt="...">
					<div class="card-body" style="text-align: center; text-decoration: none;">
						<h5><a style="text-decoration: none;" href="#"> Icecream Parlout</a></h5>
					</div>
				</div>
				<div class="card" style="width: 15rem; margin:7px;">
					<img src="/static/icecream.jpg" style="height: 200px;" class="card-img-top" alt="...">
					<div class="card-body" style="text-align: center; text-decoration: none;">
						<h5><a style="text-decoration: none;" href="#"> Icecream Parlout</a></h5>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid " style="margin-top: 40px;">
			<div class="container"
				style="color: palevioletred;margin: 30px; text-align: center; font-size:65px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
				Services
			</div>
			<div class="container-fluid" style="align-items: center; margin-left: 70px;">
				<img src="/static/services.jpg" class="img-thumbnail" style="width: 200px;height: 200px; margin:15px" alt="...">
				<img src="/static/services.jpg" class="img-thumbnail" style="width: 200px;height: 200px; margin:15px" alt="...">
				<img src="/static/services.jpg" class="img-thumbnail" style="width: 200px;height: 200px; margin:15px" alt="...">
				<img src="/static/services.jpg" class="img-thumbnail" style="width: 200px;height: 200px; margin:15px" alt="...">
				<img src="/static/services.jpg" class="img-thumbnail" style="width: 200px;height: 200px; margin:15px" alt="...">
			</div>
		</div>

		<div class="container-fluid" style="margin-top:60px;margin-bottom:60px;">
			<img src="https://source.unsplash.com/1350x500/?fastfood,food" alt="">
		</div>

		<div class="container-fluid" style="margin-top:20px; background:rgb(231, 237, 240);">
			<div class="container" style="margin: 40px; padding:20px">
				<div class="container" style="margin: 10px; padding:1px ;text-align: center;">
					<h3>Home Delivary</h3>
					<p><strong> food delivery at your home.</strong></p>
				</div>
				<div class="container" style="margin: 10px;padding:1px ;text-align: center;">
					<h3>  Hygienic & healthy Food</h3>
					<p><strong>Food prepared on sanitized surface.</strong> </p>
				</div>
				<div class="container" style="margin: 10px;padding:1px ;text-align: center;">
					<h3> Safe storage and packing</h3>
					<p><strong> Stored in clean and dry packets.</strong></p>
				</div>
			</div>
		</div>

		<div class="container-fluid " >
			<div class="container-fluid my-10px">
				<div class="container" style="text-align: center;font-size: 40px;color:black; margin:20px">
					<h1>Review</h1>
				</div>

				<div class="container" style="display: inline-flex;" >
					<div class="card mb-3" style="width: auto; margin:20px;">
						<div class="row g-0">
						  <div class="col-md-4">
							<img src="https://source.unsplash.com/140x300/?fastfood,food" style="margin-right:20px"alt="...">
						  </div>
						  <div class="col" style="width: 400px;">
							<div class="card-body">
							  <h5 class="card-title">Card title</h5>
							  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="card mb-3" style="width: auto; margin:20px;">
						<div class="row g-0">
						  <div class="col-md-4">
							<img src="https://source.unsplash.com/140x300/?fastfood,food" style="margin-right:20px"alt="...">
						  </div>
						  <div class="col" style="width: 400px;">
							<div class="card-body">
							  <h5 class="card-title">Card title</h5>
							  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="card mb-3" style="width: auto; margin:20px;">
						<div class="row g-0">
						  <div class="col-md-4">
							<img src="https://source.unsplash.com/140x300/?fastfood,food" style="margin-right:20px"alt="...">
						  </div>
						  <div class="col" style="width: 400px;">
							<div class="card-body">
							  <h5 class="card-title">Card title</h5>
							  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						  </div>
						</div>
					  </div>
					  <!-- <div class="card text-dark bg-warning mb-3" style="width:700px;margin:20px; align-items: center;">
						<div class="card-header">Header</div>
						<div class="card-body">
						  <h5 class="card-title">Warning card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					  </div>
					  <div class="card text-dark bg-success mb-3" style="width:700px;margin:20px;">
						<div class="card-header">Header</div>
						<div class="card-body">
						  <h5 class="card-title">Warning card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					  </div>
					  <div class="card text-dark bg-info mb-3" style="width:700px;margin:20px;">
						<div class="card-header">Header</div>
						<div class="card-body">
						  <h5 class="card-title">Warning card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					  </div> -->
				</div>
			</div>
		</div>

		<div class="container-fluid" style="margin-top:50px;">
			<div class="container" style="margin-bottom:30px; text-align:center;">
				<h1>Our Posts</h1>
			</div>
			<div class="container-fluid" style="height: 300px;">
				<div class="row featurette">
					<div class="col-md-7" style="margin-top:90px">
					  <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
					  <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
					</div>
					<div class="col-md-4">
						<img src="/static/food.jpg" style="height:250px;" alt="" >
					</div>
				  </div>
			</div>
			<hr class="featurette-divider" >
			<div class="container-fluid" style="height: 300px;">
				<div class="row featurette">
					<div class="col-md-7 order-md-2" style="margin-top:90px">
					  <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
					  <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
					</div>
					<div class="col-md-5 order-md-1">
						<img src="/static/food.jpg" style="height:250px;" alt="" >
			  
					</div>
				  </div>
			</div>
			<hr class="featurette-divider">
			<div class="container-fluid" style="height: 300px;">
				<div class="row featurette">
					<div class="col-md-7" style="margin-top:90px">
					  <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
					  <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
					</div>
					<div class="col-md-4">
						<img src="/static/food.jpg" style="height:250px;" alt="" >
					</div>
				  </div>
			</div>
		</div>

		<!-- <div>
			<img style="-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://www.csshint.com/wp-content/uploads/2020/08/nice-team-page.jpg">
		</div> -->
		<div class="container-fluid">
			<footer class="bg-secondary text-dark text-center text-lg-start mt-5 py-5">
				<!-- Grid container -->
				<div class="container p-4">
					<!--Grid row-->
					<div class="row">
						<!--Grid column-->
						<div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">
							<h5 class="text-uppercase">About Us</h5>
							<p>
								In this website , you can get whatever is related to your subject in the simplest way as
								possile.
								You can get the best youTube videos, best notes, previous year asked questions,and
								standard detailed notes.
							</p>
						</div>
						
						<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
							<h5 class="text-uppercase">Useful Resources :</h5>

							<ul class="list-unstyled mb-0">
								<li>
									<a href="#!" class="text-white">W3 Schools</a>
								</li>
								<li>
									<a href="#!" class="text-white">Code With Harry</a>
								</li>
								<li>
									<a href="#!" class="text-white">Java Tpoint</a>
								</li>
								<li>
									<a href="#!" class="text-white">Django Tuorials</a>
								</li>
							</ul>
						</div>
						
						<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
							<h5 class="text-uppercase mb-0">Follow Us On :</h5>

							<ul class="list-unstyled">
								<li>
									<a href="#!" class="text-white">Facebook</a>
								</li>
								<li>
									<a href="#!" class="text-white">Instagram</a>
								</li>
								<li>
									<a href="#!" class="text-white">Twitter</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
					© 2020 Copyright:
					<a class="text-white" href="/#">semestercracker.com</a>
				</div>
			</footer>
		</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
</body>

</html>'